body {
  background-color: rgba(77, 75, 75, 0.927);
}

h3 {
  color: rgb(169, 38, 38);
  text-shadow: 2px 2px 8px black;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 320px;
  background-image: radial-gradient(rgb(152, 152, 152), rgb(0, 0, 0));
  border: 2px solid rgb(237, 130, 130);
  border-radius: 50%;
  box-shadow: 2px 2px 12px 2px rgb(31, 31, 31);
}

.model {
  position: absolute;
  color: rgb(237, 130, 130);
  text-shadow: 1px 1px 3px black;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 2;
}

.second {
  position: absolute;
  top: 11.9%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  height: 120px;
  width: 0.1px;
  border: 1px solid rgb(238, 186, 186);
  transform-origin: 100% 100%;
  z-index: 10;
}

.minutes {
  position: absolute;
  top: 18.5%;
  left: 49%;
  height: 100px;
  width: 0.8px;
  background-color: black;
  border: 1px solid rgb(245, 128, 128);
  transform-origin: 100% 100%;
  z-index: 9;
}

.hour {
  position: absolute;
  top: 24.5%;
  left: 49.6%;
  height: 80px;
  width: 1.2px;
  background-color: black;
  border: 1px solid rgb(209, 5, 5);
  transform-origin: 100% 100%;
  z-index: 8;
}

.center-radius {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-image: radial-gradient(rgb(251, 251, 0), rgb(212, 100, 100));
  box-shadow: 0 0 5px red;
  z-index: 2;
}

.center-radius-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(131, 0, 0);
  z-index: 11;
}

.numbers {
  position: absolute;
  width: 330px;
  height: 330px;
  top: -5px;
  left: -5px;
  z-index: 9;
}

.obod {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  z-index: 3;
}

.luch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  opacity: 0.3;
  z-index: 1;
}

.crown {
  position: absolute;
  top: 50px;
  left: calc(50% - 30px);
  width: 60px;
}